<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>
</head>

<link href="style.css" rel="stylesheet">

<body>
<ul>
    <li><a href="index.php?command=show_book_list" id="book-list-link">Raamatud</a></li>
    <li><a href="index.php?command=show_book_form" id="book-form-link">Lisa raamat</a></li>
    <li><a href="index.php?command=show_author_list" id="author-list-link">Autorid</a></li>
    <li><a href="index.php?command=show_author_form" id="author-form-link">Lisa autor</a></li>
</ul>

<br>
<br>
<form method="post" action="http://localhost:8080/author-edit.php">
    <input type="hidden" name="id" value="{{$author->id}}"/>

    <nav>
        <p align="center">
            <label>Eesnimi:
                <br>
            </label>
            <input type="text" name="firstName" placeholder="Eesnimi" value="{{$author->firstName}}"/>
            <br>
            <br>
            <label>Perekonnanimi:
                <br>
            </label>
            <input type="text" name="lastName" placeholder="Perekonannimi" value="{{$author->lastName}}"/>
            <br>
            <br>
            <b>Hinne:</b>
            <tpl tpl-foreach="range(1, 5) as $grade">
                <input type="radio" id="grade{{ $grade }}" name="grade" tpl-checked="$grade == $author -> grade"
                       value="{{ $grade }}">
                <label for="grade{{ $grade }}">{{ $grade }}</label>
            </tpl>
            <br>
            <br>
                <input type="submit" id="save" name="submitButton" value="Salvesta">
                <input type="submit" id="save" name="deleteButton" value="Kustuda">
            <br>
            <br>
            <br>

        <p id="error-block" align="center">
            <tpl>
                {{$errorMessage}}
            </tpl>
        </p>

        <footer>
            ICD0007 Esimene Ülesanne
        </footer>

        </p>
    </nav>
</form>
</body>
</html>
