<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Harjutustund 1</title>
</head>

<link href="style.css" rel="stylesheet">

<body>
<ul>
    <li><a href="index.php?command=show_book_list" id="book-list-link">Raamatud</a></li>
    <li><a href="index.php?command=show_book_form" id="book-form-link">Lisa raamat</a></li>
    <li><a href="index.php?command=show_author_list" id="author-list-link">Autorid</a></li>
    <li><a href="index.php?command=show_author_form" id="author-form-link">Lisa autor</a></li>
</ul>

<br>
<br>
<form method="post" action="http://localhost:8080/index.php?command=show_book_form">
    <tpl>
        <input type="hidden" name="id" value=" {{$book->id}}"/>
    </tpl>

    <nav>
        <p align="center">
            <label>
                Pealkiri:
            </label>
            <br>
            <input type="text" name="title" value="{{$book->title}}"/>
            <br>
            <br>
            <label>Autor 1:
                <br>
            </label>
            <select name="authorFullName">
                <option value="{{$author->id}}">{{$author->getFullName()}}</option>
                <tpl tpl-foreach="$authors as $author">
                    <option value="{{$author->id}}">
                        {{$author->getFullName()}}
                    </option>
                </tpl>
            </select>

            <br>
            <br>

            <label>Autor 2:
                <br>
            </label>
            <select name="author2">
                <option></option>
            </select>

            <br>
            <br>

            <b>Hinne:</b>
            <tpl tpl-foreach="range(1, 5) as $grade">
                <input type="radio" id="grade{{$grade}}" name="grade" tpl-checked="$grade==$book->grade"
                       value="{{$grade}}">
                <label for="grade{{$grade}}">{{$grade}}</label>
            </tpl>

            <br>
            <br>

            <label>Loetud:
                <input name="isRead" id="read" tpl-checked="$book->isRead" type="checkbox"/>
            </label>
            <br>
            <br>
            <input type="submit" name="submitButton" value="Salvesta">

            <br>
            <br>
            <br>

        <p id="error-block" align="center">
            <tpl>
                {{$errorMessage}}
            </tpl>
        </p>

        <footer>
            ICD000Esimene Ülesanne
        </footer>

        </p>
    </nav>
</form>
</body>
</html>