<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Harjutustund 1</title>
</head>
<link href="style.css" rel="stylesheet"/>
<body>
<ul>
    <li><a href="index.php?command=show_book_list" id="book-list-link">Raamatud</a></li>
    <li><a href="index.php?command=show_book_form" id="book-form-link">Lisa raamat</a></li>
    <li><a href="index.php?command=show_author_list" id="author-list-link">Autorid</a></li>
    <li><a href="index.php?command=show_author_form" id="author-form-link">Lisa autor</a></li>
</ul>

<br>
<br>

<table id="list">
    <tr>
        <th>Pealkiri</th>
        <th>Autorid</th>
        <th>Hinne</th>
    </tr>

    <tpl tpl-foreach="$books as $book">
        <tr>
            <td><a href="book-edit.php?id={{$book->id}}">{{$book->title}}</a></td>
            <td>{{$book->authorFullName}}</td>
            <td>{{$book->grade}}</td>
        </tr>
    </tpl>
</table>

    <p id="message-block" align="center">
        {{$message}}
    </p>

<footer>
    ICD0007 Esimene Ülesanne
</footer>

</body>
</html>
