
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #dddddd;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

nav, footer {
    background-color: #dddddd;
    border-radius: .10rem;
    padding: 0.5rem;
}

table {
    font-family: "Times New Roman",serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}